<a href="https://colab.research.google.com/github/Rene-HN/Getting-SQL-DAta-into-Python/blob/master/Getting_SQL_data_into_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# Import the SQL ALchemy engine
from sqlalchemy import create_engine
from getpass import getpass

In [ ]:
# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = getpass()
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'
#''
# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

··········

In [ ]:
# Execute the SQL statement again
insurance = engine.execute('SELECT * FROM film Limit 10')

# dispose the connection
engine.dispose()

# use fetchall() to get a list of rows from the results.
rows = insurance.fetchall()

# now process the list of rows
for row in rows:
  print(row)

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")
(2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14")
(3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14")
(4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, None, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Commentaries', 'Behind the Scenes'], "'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20")
(5, 'AFRICAN EGG', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, None, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes'], "'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17")
(6, 'AGENT TRUMAN', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 2006, 1, None, 3, Decimal('2.99'), 169, Decimal('17.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes'], "'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17")
(7, 'AIRPLANE SIERRA', 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat', 2006, 1, None, 6, Decimal('4.99'), 62, Decimal('28.99'), 'PG-13', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'airplan':1 'boat':20 'butler':11,16 'discov':14 'hunter':8 'jet':19 'must':13 'saga':5 'sierra':2 'touch':4")
(8, 'AIRPORT POLLOCK', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, None, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5")
(9, 'ALABAMA DEVIL', 'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat', 2006, 1, None, 3, Decimal('2.99'), 114, Decimal('21.99'), 'PG-13', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'administr':9 'alabama':1 'boat':23 'databas':8 'devil':2 'jet':22 'mad':12,18 'must':15 'outgun':16 'panorama':5 'scientist':13,19 'thought':4")
(10, 'ALADDIN CALENDAR', 'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China', 2006, 1, None, 6, Decimal('4.99'), 63, Decimal('24.99'), 'NC-17', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Trailers', 'Deleted Scenes'], "'action':5 'action-pack':4 'aladdin':1 'ancient':20 'calendar':2 'china':21 'feminist':18 'lumberjack':13 'man':10 'must':15 'pack':6 'reach':16 'tale':7")

# Assignment
Create a Jupyter Notebook that uses SQLAlchemy to access a SQL database containing data about movies. Use Python to answer some basic questions about the data.

Use the following connection credentials:

* postgres_user = 'dsbc_student'
*postgres_pw = 
*postgres_host = '142.93.121.174'
*postgres_port = '5432'*
*postgres_db = 'dvdrentals'

Then, answer the following questions. You will need to read from the film and language tables.

For each question, you should have a separate cell in your Notebook that prints out the answer.

1. How many movies are released for each rating?
2. What is the average rental duration for each rating?
3. What is the mean movie length? Calculate this by defining a function.
4. What is the median movie length? Calculate this by defining a function.
5. Calculate the standard deviation of the movie lengths. Calculate this *by*  defining a function.

##Question 1.



How many movies are released for each rating?

In [ ]:
sql = '''
  SELECT rating, COUNT(rating) AS count
  FROM film
  Group BY rating;
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print('There are {} released {} movies.'.format(row['count'], row['rating']))

There are 195 released R movies.
There are 210 released NC-17 movies.
There are 194 released PG movies.
There are 223 released PG-13 movies.
There are 178 released G movies.

## Question 2.

2. What is the average rental duration for each rating?

In [ ]:
sql = '''
  SELECT rating, COUNT(rating) AS count, ROUND(AVG(rental_duration), 1) as average_rental_duration
  FROM film 
  Group BY rating;
'''


results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(
      'The average rental duration for a {} movie is {} days.'.format(
          row['rating'], 
          row['average_rental_duration']
          ))

The average rental duration for a R movie is 4.8 days.
The average rental duration for a NC-17 movie is 5.1 days.
The average rental duration for a PG movie is 5.1 days.
The average rental duration for a PG-13 movie is 5.1 days.
The average rental duration for a G movie is 4.8 days.

##Question 3 

3. What is the mean movie length? Calculate this by defining a function

In [ ]:
# A simple implementation simply iterating the array
def mean(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

In [ ]:
sql = '''
  SELECT length FROM film;
 '''
results = engine.execute(sql)
engine.dispose()

rows = results.fetchall()

movie_lengths = [x['length'] for x in rows]

print('The mean of all the movie lenghts is {}.'.format(mean(movie_lengths)))

The mean of all the movie lenghts is 115.272.

##Question 4.
4. What is the median movie length? Calculate this by defining a function.

In [ ]:
import math

def median(numbers):
  numbers.sort()  # sort the list of numbers
  count = len(numbers) # get the length of the array
  isEven = count % 2 == 0 # check if this list is of even length
  
  if (isEven):
    # find the two numbers in the middle of the array
    mid = math.floor( count / 2 )
    a = numbers[mid - 1]
    b = numbers[mid]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

In [ ]:
print('The median of all the movie lenghts is {}.'.format(median(movie_lengths)))

The median of all the movie lenghts is 114.0.

##Question 5

5. Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [ ]:
def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

In [ ]:
print('The standar deviation of all the movie lenghts is {}.'.format(standard_deviation(movie_lengths)))

The standar deviation of all the movie lenghts is 40.42633181855988.